<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" sizes="16x16" rel="icon" href="{{ url_for('static', filename='img/icons8-pumpkin-16.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"/>
    {% block title %}
        {% if title%}
            <title>Pumpkin Planner - {{ title }}</title>
        {% else %}
            <title>Pumpkin Planner</title>
        {% endif %}
    {% endblock %}
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">
            <img class="logo" src="{{ url_for('static', filename='img/icons8-pumpkin-96.png') }}">
        </a>
        <div style="width: 100%;"></div>
        <a href="{{ url_for('profile', username=username) }}">
            Profile
        </a>
    </nav>

    {% block content %}
    <section>

    </section>
    {% endblock %}
</body>
</html>
