{% extends 'base.html' %}


{% block content %}
<section class="content-container">
    <div class="profile-wrapper">

        <div class="profile-header">
                <img src="{{ url_for('static', filename='img/test_profile.png') }}">
                <header class="username-header">@{{ username }}</header>

            <div class="logout-wrapper">
                <a href="{{ url_for('logout') }}" class="button logout">Log Out</a>
            </div>
        </div>


        <div class="profile-content-wrapper">
            <div class="tasks-wrapper">
                <header>Your Tasks</header>
                {% if tasks %}
                    {% for task in tasks %}
                        <div class="task">
                            <a href="{{ url_for('task', title=task['title']) }}"><header class="task-header">{{ task["title"] }}</header></a>
                            <hr>
                            <div class="description-wrapper">
                                <p class="description">{{ task["description"] }}</p>
                                <div class="control-panel">
                                    <a class="button" href="{{ url_for('remove', id_=task['id']) }}">Done</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                        <p>You don't have any tasks!</p>
                {% endif %}
            </div>

            <form class="add-task-wrapper" method="POST">
                <header>Add Task</header>
                <input type="text" class="text-edit" name="title" maxlength="40" placeholder="Enter title...">
                <textarea class="text-edit" name="description" maxlength="140" placeholder="Enter description..."></textarea>
                <button type="submit" class="button">Add task</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
